<div class="container" id="blogPosts">
  <div class="col-md-12 text-center" id="homeTitle">
    <h2 id="homeHeader">
      Latest Blogs
    </h2>
  </div>
  <div class="container">
    {{#each blogs}}
    {{!-- run each statement here up to 4 posts --}}
    <a href="/blog/{{this.id}}" target="blank_" id="blogLink">
    <div class="row" id="blogPost">
      <div class="col-md-12">{{this.blog_author}} : {{format_date this.blog_date}}</div>
      <div class="col-md-12">
        <h3>{{this.blog_title}}</h3><br>
        <p>{{this.blog_body}}</p>
      </div>
    </div>
    </a>
    {{/each}}
    {{!-- end of each statement here  --}}

